body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    min-height: 100vh;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}


.animated-text {
    font-size: 3rem;
    text-align: center;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: scale(0.95);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0.5;
        transform: scale(0.95);
    }
}